@using Cheezious.Models
@model List<Category>



@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



    <div class="roles">
        <div class="roles-data">
            <a asp-action="AddUpdateCategories" asp-controller="Admin" class="addbtn">Add</a>
            <div class="overflow-scroll">
                <table class="table mt-4 table-hover">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Action</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category categories in Model)
                        {
                            <tr>
                                <td>@categories.Id</td>
                                <td>@categories.Name</td>

                                <td>
                                    <a asp-action="ViewCategories" asp-controller="Admin" asp-route-id="@categories.Id" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
                                    <a asp-action="AddUpdateCategories" asp-controller="Admin" asp-route-id="@categories.Id" class="btn" style="background-color: #F25925;"><i class='bx bxs-pencil'></i></a>
                                    <a asp-action="DeleteCategories" asp-controller="Admin" asp-route-id="@categories.Id" class="btn btn-danger"><i class='bx bxs-trash'></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   

