@using Cheezious.Models
@model List<Order>



@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="roles">
    <div class="roles-data">
        <a asp-action="AddUpdateOrders" asp-controller="Buyer" class="addbtn">Add</a>
        <div class="overflow-scroll">
            <table class="table mt-4 table-hover">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>BuyerName</td>
                        <td>CreatedOn</td>
                        <td>ProductTitle</td>
                        <td>Action</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Order orders in Model)
                    {
                        <tr>
                            <td>@orders.Id</td>
                            <td>@orders.Buyer.Name</td>
                            <td>@orders.CreatedOn</td>
                            <td>@orders.Product.Title</td>
                           

                            <td>
                                <a asp-action="ViewOrders" asp-controller="Admin" asp-route-id="@orders.Id" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
                                <a asp-action="AddUpdateOrders" asp-controller="Admin" asp-route-id="@orders.Id" class="btn" style="background-color: #F25925;"><i class='bx bxs-pencil'></i></a>
                                <a asp-action="DeleteOrders" asp-controller="Admin" asp-route-id="@orders.Id" class="btn btn-danger"><i class='bx bxs-trash'></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


